@import "src/styles/global.scss";

.container {
  padding: 0.6rem 1.6rem;
  border-radius: 0.6rem;
  border: 0.1rem solid $color-gray300;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
