@import "../../styles/global.scss";

.container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  width: 60rem;
  height: 47.6rem;
  border-radius: 1.6rem;
}

.head {
  width: 60rem;
  height: 11.6rem;
  padding-left: 0.1rem;
  position: relative;
}

.date {
  width: 7rem;
  height: 2rem;
  position: absolute;
  top: 5.6rem;
  left: 48.4rem;
  font-weight: 40rem;
  font-size: 1.4rem;
  color: $color-gray400;
}

.profile-area {
  width: 18.1rem;
  height: 5.6rem;
  position: absolute;
  top: 4rem;
  left: 3.9rem;
}

.divider {
  width: 52rem;
  height: 0.1rem;
  position: absolute;
  top: 11.5rem;
  left: 3.9rem;
  background-color: $color-gray200;
}

.content {
  width: 52rem;
  height: 25.6rem;
  overflow: auto;
  word-wrap: break-word;

  font-size: 1.8rem;
}

/* 스크롤바 전체 스타일 */
.content::-webkit-scrollbar {
  width: 0.4rem;
  height: 24rem;
  top: 1.6rem;
  margin-left: 1.6rem;
}

/* 스크롤바 핸들 (움직이는 부분) 스타일 */
.content::-webkit-scrollbar-thumb {
  background: $color-gray300; /* 핸들의 배경색 */
  border-radius: 0.8rem; /* 핸들의 모서리 둥글기 */
}

/* 스크롤바 핸들에 마우스 호버할 때 스타일 */
.content::-webkit-scrollbar-thumb:hover {
  background: $color-gray400; /* 호버 시 핸들의 배경색 */
}

.button {
  @include font-bold(1.8rem, $color-white);
  width: 9rem;
  height: 2.6rem;
  border-radius: 0.6rem;
  background-color: $color-purple600;
  margin-top: 2.4rem;
}
