@import "/src/styles/global.scss";

.top {
  display: flex;
  width: 100%;
  gap: 14px;
  padding-bottom: 1.5rem;
  border-bottom: 2px solid $color-gray200;
}

.profile {
  display: flex;
  width: 5.5rem;
  height: 5.5rem;
  align-items: center;
  border-radius: 6.25rem;
  border: 1px solid $color-gray200;
  background: $color-white;
}

.name {
  @include font-bold(1.6rem, $color-black, "Pretendard");
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
}

.userName {
  font-weight: 700;
}

.relationship {
  display: inline-block;
  margin-top: 1.2rem;
  padding: 0.5rem 0.8rem;
  border-radius: 0.4rem;

  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
  letter-spacing: -0.00438rem;
}

.acquaintance {
  @include font-regular(1.4rem, $color-orange500, "Pretendard");
  background: $color-orange100;
}

.friend {
  @include font-regular(1.4rem, $color-blue500, "Pretendard");
  background: $color-blue100;
}

.colleague {
  @include font-regular(1.4rem, $color-purple500, "Pretendard");
  background: $color-purple100;
}

.family {
  @include font-regular(1.4rem, $color-green500, "Pretendard");
  background: $color-green100;
}
