@import "src/styles/global.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  @include font-bold(1.5rem, $color-gray900, "Pretendard");
  font-style: normal;
  font-weight: 700;
  line-height: 2.25rem;
  letter-spacing: -0.015rem;
}

.title {
  @include font-bold(2.5rem, $color-gray900, "Pretendard");
  font-style: normal;
  font-weight: 700;
  line-height: 2.25rem;
  letter-spacing: -0.015rem;
}

.input {
  display: flex;
  width: 100%;
  padding: 1.5rem 2rem;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.5rem;
  border: 1px solid $color-gray300;
  background: $color-white;
  @include font-regular(1.5rem, $color-gray500, "Pretendard");
  font-style: normal;
  font-weight: 400;
  line-height: 1.625rem;
  letter-spacing: -0.01rem;
}

.errorMessage {
  @include font-regular(1.5rem, $color-error, "Pretendard");
  font-style: normal;
  font-weight: 400;
  line-height: 1.125rem;
  letter-spacing: -0.00375rem;
}
