@import "/src/styles/global.scss";

.card {
  position: relative;
  width: 100%;
  // height: 28rem;
  // width: 38.4rem;
  padding: 3rem;
  background-color: $color-white;
  border-radius: 1.6rem;
  box-shadow: 0 0.2rem 1.2rem 0 rgba(0, 0, 0, 0.08);
  text-align: justify;
  display: flex;
  flex-direction: column;
}

.date {
  @include font-regular(1.2rem, $color-gray400, "Pretendard");
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
}
