@import "src/styles/global.scss";

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  border-radius: 3.33rem;
  border: 0.1rem solid #dadcdf;
  background-color: white;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  z-index: 1;

  &.left {
    left: -2rem;
  }
  &.right {
    right: -2rem;
  }
}
