@import "src/styles/global.scss";

.card-container {
  width: 27.5rem;
  height: 26rem;
  display: flex;
  flex-direction: column;
  border-radius: 1.6rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 3rem 2.4rem 2rem 2.4rem;
  position: relative;
  z-index: 2;
  overflow: hidden;

  @include mobile {
    max-width: 23rem;
    max-height: 24rem;
  }
}

.color {
  @include font-regular(1.6rem, $color-black);
  .background img {
    width: 120%;
    position: absolute;
    top: -1.2rem;
    left: -1.5rem;
    z-index: 1;

    @include mobile {
      width: 130%;
    }
  }
}

.image {
  @include font-regular(1.6rem, white);
  .background {
    background-image: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.54) 0%,
      rgba(0, 0, 0, 0.54) 100%
    );

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%; /* 전체 컨테이너를 덮도록 */
      height: 100%;
      background-image: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.54) 0%,
        rgba(0, 0, 0, 0.54) 100%
      );
      z-index: 2; /* 이미지 뒤에 그라데이션 배치 */
    }

    img {
      width: 100%;
      height: 100%;
      position: absolute;
      object-fit: cover;
      z-index: 1;
      left: 0;
      top: 0;
    }
  }
}

.card-header {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  .name {
    font-size: 2.4rem;
    font-weight: 700;

    @include mobile {
      font-size: 2rem;
    }
  }

  .message-count {
    @include mobile {
      font-size: 1.5rem;
    }
  }

  span {
    font-weight: 700;
  }
}

.card-footer {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-top: 5rem;

  @include mobile {
    margin-top: 3rem;
  }
}

.rectangle {
  width: 22.7rem;
  height: 0.1rem;
  background: rgba(0, 0, 0, 0.12);

  @include mobile {
    max-width: 18rem;
  }
}

.text-container {
  position: relative;
  z-index: 4;
}
