@import "src/styles/global.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
  @include font-bold("Pretendard", 1.5rem, $color-gray900);
  font-style: normal;
  font-weight: 700;
  line-height: 2.25rem;
  letter-spacing: -0.015rem;
}

.title {
  @include font-bold("Pretendard", 2rem, $color-gray900);
  font-style: normal;
  font-weight: 700;
  line-height: 2.25rem;
  letter-spacing: -0.015rem;
}

.input {
  display: flex;
  width: 100%;
  padding: 0.75rem 1rem;
  align-items: center;
  gap: 0.625rem;
  border-radius: 0.5rem;
  border: 1px solid $color-gray300;
  background: $color-white;
  @include font-regular("Pretendard", 1rem, $color-gray500);
  font-style: normal;
  font-weight: 400;
  line-height: 1.625rem;
  letter-spacing: -0.01rem;
}

.errorMessage {
  @include font-regular("Pretendard", 0.75rem, $color-error);
  font-style: normal;
  font-weight: 400;
  line-height: 1.125rem;
  letter-spacing: -0.00375rem;
}
