@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");
@import url("https://fonts.googleapis.com/earlyaccess/nanummyeongjo.css");
@import url("https://fonts.googleapis.com/earlyaccess/nanumpenscript.css");

@mixin font-bold($font-family: "Noto Sans KR", $font-size, $font-color: black) {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: 700;
  color: $font-color;
}

@mixin font-regular(
  $font-family: "Noto Sans KR",
  $font-size,
  $font-color: black
) {
  font-family: $font-family;
  font-size: $font-size;
  font-weight: 400;
  color: $font-color;
}

@mixin notoSans($font-size, $font-color: black) {
  font-family: "Noto Sans KR";
  font-size: $font-size;
  font-weight: 400;
  color: $font-color;
}

@mixin pretendard($font-size, $font-color: black) {
  font-family: "Pretendard";
  font-size: $font-size;
  font-weight: 400;
  color: $font-color;
}

@mixin nanummyeongjo($font-size, $font-color: black) {
  font-family: "Nanum Myeongjo";
  font-size: $font-size;
  font-weight: 400;
  color: $font-color;
}

@mixin nanumpenscript($font-size, $font-color: black) {
  font-family: "Nanum Pen Script";
  font-size: $font-size;
  font-weight: 400;
  color: $font-color;
}
