@import "../styles/global.scss";

.container {
  display: flex;
  justify-content: center;
  width: 100%;
  border-bottom: 0.1rem solid #ededed;
  background-color: $color-white;

  &.sticky {
    position: sticky;
    top: 0;
    z-index: 10;
  }
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 120.7rem;
  height: 6.2rem;

  @include tablet {
    padding: 0 1.5rem;
  }

  @include mobile {
    padding: 0 1.5rem;
  }
}

.button {
  height: 4rem;
  padding: 0.8rem 1.6rem;
  border-radius: 0.6rem;
  border: 0.1rem solid $color-gray300;

  &.hidden {
    display: none;
  }
}
