@import "/src/styles/global.scss";

.icon {
  position: absolute;
  top: 2.4rem;
  right: 2.8rem;
  padding: 0.4rem;
  border-radius: 0.4rem;
  border: 1px solid $color-gray300;
  background: $color-white;
}

.edit-block {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.edit-button {
  position: absolute;
  top: 4rem;
  padding: 1rem 1.6rem;
  border-radius: 0.4rem;
  background: $color-purple600;

  @include font-regular(1.5rem, $color-white);
  font-weight: 400;
  line-height: 1.625rem;
}
