@import "/src/styles/global.scss";

.content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(38.4rem, 1fr));
  gap: 1.5rem;
}

.button-box {
  display: flex;
  height: 28rem;
  justify-content: center;
  align-items: center;
}

.cardList {
  position: relative;
  width: 38.4rem;
  height: 28rem;
  padding: 3rem;
  background-color: $color-white;
  border-radius: 1.6rem;
  box-shadow: 0 0.2rem 1.2rem 0 rgba(0, 0, 0, 0.08);
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.background {
  position: relative;
  padding: 9rem 16.8rem;
}

.beige {
  background-color: $color-orange200;
}

.purple {
  background-color: $color-purple200;
}

.blue {
  background-color: $color-blue200;
}

.green {
  background-color: $color-green200;
}
