@import "src/styles/global.scss";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.content-box {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  width: 100%;
  max-width: 120rem;
  margin-top: 6rem;
}

.content {
  display: grid;
  width: 100%;
  height: fit-content;
  border-radius: 1.6rem;
  background-color: $color-surface;
}

section:nth-of-type(odd) {
  grid-template-areas:
    "label image"
    "title image"
    "description image"
    ". image";
  padding: 6rem 0rem 6rem 6rem;
}
section:nth-of-type(even) {
  grid-template-areas:
    "image label"
    "image title"
    "image description"
    "image .";
  padding: 6rem 19.2rem 6rem 0;
}

.label {
  @include font-bold(1.4rem, $color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: label;
  width: 8rem;
  height: 3.2rem;
  margin-bottom: 1.6rem;
  line-height: 2rem;
  border-radius: 5rem;
  background-color: $color-purple600;
}

.title {
  @include font-bold(2.4rem, $color-gray900);
  grid-area: title;
  margin-bottom: 0.8rem;
  line-height: 3.6rem;
}

.description {
  @include font-regular(1.8rem, $color-gray500);
  grid-area: description;
  line-height: 2.8rem;
}

.content-image {
  width: 100%;
  height: fit-content;
  grid-area: image;
}

.button-box {
  display: flex;
  justify-content: center;
  padding: 2.4rem 0;
  width: 100%;
  max-width: 120rem;
}

.button {
  @include font-bold(1.8rem, $color-white);
  width: 28rem;
  height: 5.6rem;
  border-radius: 1.2rem;
  background-color: $color-purple600;
}
